<%- include("header") -%>
<%- include("navbar") -%>
<section class="fail-page">
    <h1>新增帳戶失敗</h1>
    
    <button class="btn btn-primary" onclick="goToMain()">回到主畫面</button>
    <style>
        .fail-page {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</section>
<%- include("footer") -%>

<script>
    function goToMain() {
        window.location.href = "/admin/account";
    }
</script>
  