<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電腦教室 印表機使用系統</title>
    <link rel="shortcut icon" href="/favicon/print-favicon.ico" />
    <link rel="bookmark" href="/favicon/print-favicon.ico" />
    <!-- bootstrap css CDN-->
    <link rel="stylesheet" href="../bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <script src="../jquery-3.7.0.min.js"></script>
</head>
<body class="grid-container">